<%= display_text %>
<% unless linked_terms.empty? %>
    <br />
    <% linked_terms.each do |term| %>
      <div class='ds-ld-bar'>
        <%= link_to term[:label], root_path(f: { term[:facet_field] => Array(term[:facet_value]) }), class: 'ds-ld-search' %>
        <% if term[:source_url].present? %>
          <span class="ds-ld-float">
            <%= image_tag 'sbts2018-flat.png', class: 'ds-ld-img', title: 'Linked Data', alt: 'Linked Data indicator' %>
            <%= link_to term[:source_url], class: 'ds-ld-link', target: :_blank, title: 'Explore this term via Linked Data' do %>
              <%= t "blacklight.solr_document.link_data_acronyms.#{term[:source_acronym]}", default: term[:source_acronym].to_s.upcase %>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>
<% end %>
